.venv/ 
docker-compose.yml
images/*.xcf
images/*.svg
!images/connection_manager.svg
settings.json
__pycache__/
.vscode/
*.egg-info/
ollama/
build/
dist/
deb_dist/*
!deb_dist/*.deb
linuxdeploy-x86_64.AppImage
*.log
build_appimage.sh
.continue
